<div class="container">
    <h1>SIGN UP</h1>
    <form>
      <div class="form-group">
        <md-input-container style="width: 100%" >
          <input mdInput placeholder="First Name" type="text" id="firstName" #name required>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container style="width: 100%" >
          <input mdInput placeholder="Last Name" type="text" id="lastName" required>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container style="width: 100%" >
          <input mdInput placeholder="Email" type="email" id="email" required>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container style="width: 100%" >
          <input mdInput placeholder="Password" type="password" id="password" required>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container style="width: 100%" >
          <input mdInput placeholder="Confirm Password" type="password" id="password2" required>
        </md-input-container>
      </div>
      <button md-raised-button [routerLink]="['/dashboard', name.value]" type="submit">Next</button>
    </form>
     <!--Already have an account?
     <br />
    <button class="big-button" md-raised-button>Log In</button>-->
</div>

