<div class="container">
    <h1>Create an Account</h1>
    <form>
      <div class="form-group">
        <md-input-container style="width: 100%" >
          <input mdInput placeholder="Name" type="text" id="name" #name required>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container style="width: 100%" >
          <input mdInput placeholder="Email" type="email" id="email" required>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container style="width: 100%" >
          <input mdInput placeholder="Password" type="password" id="password" required>
        </md-input-container>
      </div>
      <button class="big-button" md-raised-button [routerLink]="['/dashboard', name.value]" type="submit">Create Account</button>
    </form>
     <!--Already have an account?
     <br />
    <button class="big-button" md-raised-button>Log In</button>-->
</div>

