/*body {
    background-color: #BE822A;
    font-family: 'Raleway', 'Helvetica Neue', 'Lato', sans-serif;
    color: white;
    font-size: 2em;
    text-align: left;
}

h1 {
    text-align: center;
}*/


md-card {
    color: black;
    background-color: white;
    margin: 10vw;
    text-align: left;
}

#next {
    margin-left: 3vw;
}