<app-navbar></app-navbar>

<div>
  <h4 class="step">Step 4/5</h4>
</div>

<div class="container">
    <h1>{{ "Projects / Accomplishments" | uppercase }}</h1>
    <form class="left" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <md-input-container style="width: 50%" >
          <input mdInput placeholder="Title" type="text" id="title" formControlName="title" required>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container style="width: 50%" >
          <input mdInput placeholder="Date" type="text" id="date" formControlName="date" required>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container style="width: 50%" >
          <input mdInput placeholder="Role" type="text" id="role" formControlName="role" required>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container style="width: 50%" >
          <input mdInput placeholder="Sponsor (optional)" type="text" id="sponsor" formControlName="sponsor">
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container style="width: 50%" >
          <input mdInput placeholder="Project URL (optional)" type="text" id="url" formControlName="url">
        </md-input-container>
      </div>

      <div class="form-group">
        <md-input-container style="width: 100%" >
          <input mdInput placeholder="Description" type="text" id="description" formControlName="description">
        </md-input-container>
      </div>

      <button md-raised-button type="submit">Add Project</button>
      <div class="nextDiv">
        <button md-raised-button [routerLink]="['/builder']" type="submit">Next</button>
      </div>
    </form>
</div>


<div id="output">
  <md-card *ngFor="let item of projects">
    <h3><strong>Title:</strong> {{item.title}}</h3>
    <p><strong>Date:</strong> {{item.date}}</p>
    <p><strong>Role:</strong> {{item.role}}</p>
    <p><strong>Sponsor:</strong> {{item.sponsor}}</p>
    <p><strong>Url:</strong> {{item.url}}</p>
    <p><strong>Description:</strong> {{item.description}}</p>
  </md-card>
</div>