
<app-navbar></app-navbar>

<div id="wrapper">
    <h1>{{ "Let's build your resume" | uppercase }}</h1>
    <h4>Enter URL of Desired Job Posting</h4>
    <md-input-container style="width: 80%" >
        <input mdInput placeholder="URL" type="text" id="url">
    </md-input-container>
     <button md-raised-button (click)="onShow()" type="submit">Submit</button>
</div>

<div *ngIf="show">
    <img src="http://i.imgur.com/QuFp40l.png" />
    <br />
    <br />
    <!--<button md-raised-button (click)="onDownload()">Download</button>-->
    <a href="/assets/test-resume.docx" download>Download Your Resume</a>
    <br />
    <a [routerLink]="['/resumes']">Check out other resumes</a>
</div>

<!--<md-progress-bar mode="determinate" value="55"></md-progress-bar>-->