/* You can add global styles to this file, and also import other style files */

body {
    text-align: center;
    font-family: 'bebas neue', 'Raleway', 'Helvetica Neue', 'Lato', sans-serif;
    background-color: #f2f2f1;
    color: black;
}

a {
    color: white;
}