/* You can add global styles to this file, and also import other style files */

body {
    text-align: center;
    font-family: 'bebas neue', 'Raleway', 'Helvetica Neue', 'Lato', sans-serif;
    background-color: #f2f2f1;
    color: black;
}

a {
    color: #f2f2f1;
}

button {
    background-color: #837869;
}

.mat-button, .mat-icon-button, .mat-raised-button {
    color: white !important;
}

.step {
    margin-top: 3vw;
}

.container {
    margin-top: 2vw;
}

.nextDiv {
    text-align: center;
}