
header {
    padding-bottom: 12vw;
    background-color: #837869;
    color: black;
}

main {
    color: black;
    margin: 14vw;
}

#home-name {
    padding-top: 12vw;
}

#home-description {
    margin-bottom: 6vw;
}

#home-features {
    margin: 12vw;
}

a {
    margin-right: 4vw;
}

#links {
    padding-top: 2vw;
    text-align: right;
}