


<header>
  <!--<img id="bear" src="http://i.imgur.com/qxQuLYy.png"/>-->
  <div id="links">
    <a>About</a> <a>Contact Us</a>
  </div>
  <h4 id="home-name">BUILD-A-RESUME</h4>
  <h1>BUILD YOUR PERFECT RESUME</h1>
  <br />
  <button md-raised-button [routerLink]="['/login-new']">Get Started</button>
</header>

<main>
  <h3 id="home-description">We help build customizable resumes, catered to each job application.</h3>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error maiores modi quis, saepe quam iusto inventore alias perferendis quos aliquid id adipisci cumque repudiandae illo in mollitia porro ex ipsam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias accusantium porro similique debitis laboriosam ullam numquam cumque amet doloribus quis, rem magnam iusto id qui, voluptatum beatae iste. Dolor, consequatur.</p>

<h2 id="home-features">Features</h2>

  <div class="row">
    <div class="col-md-4">
      <h2>TEXT1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sit nemo unde earum nostrum maxime, tempore amet fugit odit tenetur, quia libero vel harum, ipsum blanditiis facilis eaque commodi nulla!</p>
    </div>
    <div class="col-md-4">
      <h2>TEXT2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sit nemo unde earum nostrum maxime, tempore amet fugit odit tenetur, quia libero vel harum, ipsum blanditiis facilis eaque commodi nulla!</p>
    </div>
    <div class="col-md-4">
      <h2>TEXT3</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sit nemo unde earum nostrum maxime, tempore amet fugit odit tenetur, quia libero vel harum, ipsum blanditiis facilis eaque commodi nulla!</p>
    </div>
  </div>
</main>