
header {
    background-color: #837869;
    color: black;
}

#top-nav {
    text-align: right;
}

#header-template {
    padding-top: 24vw;
    padding-bottom: 24vw;
}

#header-template button {
    background-color: black;
    color: #f2f2f1;
    font-size: 4vw;
    padding: 2vw;
}

#header-template h1 {
    font-size: 5vw;
}


main {
    color: black;
    margin: 14vw;
}

#home-description {
    margin-bottom: 6vw;
}

#home-features {
    margin-top: 12vw;
}

a {
    margin-right: 4vw;
    padding-top: 2vw;
}

#bear {
    width: 6vw;
    margin: 2vw;
    float: left;
}