

<app-navbar></app-navbar>
<h1>My Resumes</h1>

<div class="row">
  <div class="col-md-4">
    <h2>Resume 1</h2>
    <h4>Results: 1/2 Success Rate</h4>
    <img src="https://s-media-cache-ak0.pinimg.com/736x/b1/92/95/b19295be01fdb29f77306c0c04ffe06c--resume-ideas-cv-ideas.jpg" />
    <br />
    <a href="/assets/test-resume.docx" download>Download Doc</a>
    <a href="/assets/test-resume.docx" download>Download PDF</a>
    <br />
    <button md-raised-button class="greenButton">Landed Interview!</button><br />
    <button md-raised-button>Edit Resume</button>

    <h4>Applied to:</h4>
    <ul>
      <li> <a href="https://careers.microsoft.com/jobdetails.aspx?jid=282439&job_id=1032522&utm_source=Indeed&show_desc=0" target="_blank">Microsoft: No Interview</a> </li>
      <li> <a href="https://careers.google.com/jobs?src=Online/Job+Board/indeed&utm_source=indeed&utm_medium=jobaggr&utm_campaign=freeaggr#!t=jo&jid=/google/product-manager-76-9th-ave-new-york-ny-usa-2286360178"  target="_blank">Google: Got Interview!</a> </li>
    </ul>
  </div>

  <div class="col-md-4">
    <h2>Resume 1</h2>
    <h4>Results: Waiting for interview</h4>
    <img src="https://s-media-cache-ak0.pinimg.com/736x/b1/92/95/b19295be01fdb29f77306c0c04ffe06c--resume-ideas-cv-ideas.jpg" />
    <br />
    <a href="/assets/test-resume.docx" download>Download Doc</a>
    <a href="/assets/test-resume.docx" download>Download PDF</a>
    <br />
    <button md-raised-button class="greenButton">Landed Interview!</button><br />
    <button md-raised-button>Edit Resume</button>

    <h4>Applied to:</h4>
    <ul>
      <li> <a href="https://careers.microsoft.com/jobdetails.aspx?jid=282439&job_id=1032522&utm_source=Indeed&show_desc=0" target="_blank">Microsoft: No Interview</a> </li>
      <li> <a href="https://careers.google.com/jobs?src=Online/Job+Board/indeed&utm_source=indeed&utm_medium=jobaggr&utm_campaign=freeaggr#!t=jo&jid=/google/product-manager-76-9th-ave-new-york-ny-usa-2286360178"  target="_blank">Google: Got Interview!</a> </li>
    </ul>
  </div>

  <div class="col-md-4">
    <h2>Resume 1</h2>
    <h4>Results: Waiting for interview</h4>
    <img src="https://s-media-cache-ak0.pinimg.com/736x/b1/92/95/b19295be01fdb29f77306c0c04ffe06c--resume-ideas-cv-ideas.jpg" />
    <br />
    <a href="/assets/test-resume.docx" download>Download Doc</a>
    <a href="/assets/test-resume.docx" download>Download PDF</a>
    <br />
    <button md-raised-button class="greenButton">Landed Interview!</button><br />
    <button md-raised-button>Edit Resume</button>

    <h4>Applied to:</h4>
    <ul>
      <li> <a href="https://careers.microsoft.com/jobdetails.aspx?jid=282439&job_id=1032522&utm_source=Indeed&show_desc=0" target="_blank">Microsoft: No Interview</a> </li>
      <li> <a href="https://careers.google.com/jobs?src=Online/Job+Board/indeed&utm_source=indeed&utm_medium=jobaggr&utm_campaign=freeaggr#!t=jo&jid=/google/product-manager-76-9th-ave-new-york-ny-usa-2286360178"  target="_blank">Google: Got Interview!</a> </li>
    </ul>
  </div>
</div>