

<app-navbar></app-navbar>
<h1>My Resumes</h1>

<div class="row">
  <div class="col-md-4">
    <h2>Resume 1</h2>
    <img src="https://s-media-cache-ak0.pinimg.com/736x/b1/92/95/b19295be01fdb29f77306c0c04ffe06c--resume-ideas-cv-ideas.jpg" />
    <br />
    <a href="/assets/test-resume.docx" download>Download</a>
  </div>
  <div class="col-md-4">
    <h2>Resume 2</h2>
    <img src="https://s-media-cache-ak0.pinimg.com/736x/b1/92/95/b19295be01fdb29f77306c0c04ffe06c--resume-ideas-cv-ideas.jpg" />
    <br />
    <a href="/assets/test-resume.docx" download>Download</a>
  </div>
  <div class="col-md-4">
    <h2>Resume 3</h2>
    <img src="https://s-media-cache-ak0.pinimg.com/736x/b1/92/95/b19295be01fdb29f77306c0c04ffe06c--resume-ideas-cv-ideas.jpg" />
    <br />
    <a href="/assets/test-resume.docx" download>Download</a>
  </div>
</div>